:host {
    width: 100%;
}

.extra-small {
    font-size: 10px;
}

.armour-class-dialog {
    padding: 10px;
    h1 {
        font-size: 20px;
    }

    p {
        margin: 5px 0 0 0;
        font-size: 12px;
        &.center {
            text-align: center;
        }
    }
}
