<app-configuration-badge title="ARMOUR CLASS" [value]="armourClass.total" (onClick)="openArmourClassDialog()" />

<ng-template #armourClassDialog>
    <div class="armour-class-dialog">
        <h1 mat-dialog-title>Armour Class Management</h1>
        <div mat-dialog-content class="grid-layout" [formGroup]="armourClassForm">
            <p class="full-width">Total</p>
            <mat-form-field class="no-bottom-margin full-width">
                <input type="number" matInput formControlName="total" autoCalculatedInput />
            </mat-form-field>
            <p class="full-width center">= 10 +</p>
            <p>Gear Bonus</p>
            <p>DEX Modifier</p>
            <p>Size Modifier</p>
            <p>Natural Armour</p>
            <mat-form-field class="no-bottom-margin">
                <input type="number" matInput formControlName="gearBonus" autoCalculatedInput />
            </mat-form-field>
            <mat-form-field class="no-bottom-margin">
                <input type="number" matInput formControlName="dexterityModifier" autoCalculatedInput />
            </mat-form-field>
            <mat-form-field class="no-bottom-margin">
                <input type="number" matInput formControlName="sizeModifier" autoCalculatedInput />
            </mat-form-field>
            <mat-form-field class="no-bottom-margin">
                <input type="number" matInput formControlName="naturalArmour" />
            </mat-form-field>
            <p>Deflection Modifier</p>
            <p>Misc Modifier</p>
            <p class="half-width">Damage Reduction</p>
            <mat-form-field class="no-bottom-margin">
                <input type="number" matInput formControlName="deflectionModifier" />
            </mat-form-field>

            <mat-form-field class="no-bottom-margin">
                <input type="number" matInput formControlName="miscModifier" />
            </mat-form-field>

            <mat-form-field class="no-bottom-margin half-width">
                <input type="number" matInput formControlName="damageReduction" />
            </mat-form-field>
        </div>
    </div>
</ng-template>
