form {
    padding: 10px;

    h1 {
        margin-bottom: 20px;
        font-size: 20px;
    }
    div {
        width: 100%;
        margin-bottom: 20px;
        small {
            display: block;
        }
    }
    button {
        background: var(--success);
        width: 100%;
        margin-top: 20px;
        cursor: pointer;
    }

    .file-upload-label {
        cursor: pointer;
        color: #fff;
        background: var(--border-colour);
        padding: 8px 16px;
        border-radius: 4px;
        width: 100%;
        text-align: center;
        display: inline-block;
        font-weight: 500;
        transition: background 0.2s;
        &:hover {
            background: #ffa726;
        }
    }
}
