:host {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.saving-throws__saving-throw-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background: var(--background-dark);

    border: 1px solid var(--border-colour);
    padding: 3px 15px;

    border-radius: 5px;

    cursor: pointer;
    h4 {
        margin: 5px 0;
    }

    span {
        display: flex;
        align-items: center;
        gap: 8px;
    }
}
