footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 10px 3px 10px;
    p {
        margin: 0;
        font-size: 12px;
    }
    mat-icon {
        font-size: 15px;
        width: 15px;
        height: 15px;
    }
}
