@if (!(user$ | async)) {
    <small>You're not currently logged in meaning many of the application features are not available.</small>
    <button mat-button (click)="onLogin()">Login</button>
} @else {
    <p class="user-info">
        <strong>{{ (user$ | async)?.name }} </strong>
        <small class="email">({{ (user$ | async)?.email }})</small>

        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>{{ (user$ | async)?.name }}'s Characters</mat-panel-title>
                </mat-expansion-panel-header>
                <ul class="character-wrapper">
                    @for (character of (user$ | async)?.characters; track character.id) {
                        <li class="character" (click)="onSelectCharacter.emit(character.id)">
                            <span>{{ character.name }}</span>
                            <small>{{ character.classes.join(', ') }}</small>
                            <small>Level: {{ character.level }}</small>
                            <mat-icon fontSet="material-symbols-outlined">check</mat-icon>
                        </li>
                    }
                    <button mat-button (click)="onCreateNewCharacter()">Create a new character</button>
                </ul>
            </mat-expansion-panel>
        </mat-accordion>
    </p>

    <button mat-button class="logout" (click)="onLogout()">Logout</button>
}

<ng-template #loginDialog>
    <div class="login-dialog" [formGroup]="form">
        <div class="title">
            <h3>{{ isCreatingUser() ? 'Sign up' : 'Login' }}</h3>
            <mat-slide-toggle
                class="example-margin"
                [checked]="isCreatingUser()"
                (toggleChange)="toggleIsCreatingUser()"
            >
                Sign up
            </mat-slide-toggle>
        </div>
        <mat-form-field>
            <mat-label>Unique Identifier (email)</mat-label>
            <input matInput formControlName="email" type="email" cdkFocusInitial />
        </mat-form-field>
        @if (isCreatingUser()) {
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" />
            </mat-form-field>
        }
        <button mat-button (click)="isCreatingUser() ? onCreateUser() : onProcessLogin()">Login</button>
    </div>
</ng-template>
