div {
    padding: 10px 10px 0 10px;
    .icon-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;

        mat-icon {
            cursor: pointer;
        }

        span {
            display: flex;
            align-items: center;
            gap: 7px;
        }
    }

    .label-wrapper {
        display: flex;
        justify-content: space-between;
    }

    .settings {
        padding-left: 5px;
        border-left: 1px solid var(--border-colour);
    }
}

.active-link {
    border-bottom: 2px solid var(--accent-colour);
}
