<div>
    <div class="icon-wrapper">
        <mat-icon
            [routerLink]="['/character/', { outlets: { 'character-page': ['overview'] } }]"
            routerLinkActive="active-link"
            >home</mat-icon
        >
        <span>
            <mat-icon
                [routerLink]="['/character/', { outlets: { 'character-page': ['background'] } }]"
                routerLinkActive="active-link"
                >local_library</mat-icon
            >
            <mat-icon
                [routerLink]="['/character', { outlets: { 'character-page': ['gear'] } }]"
                routerLinkActive="active-link"
                >checkroom</mat-icon
            >
        </span>
    </div>
    <div>
        <app-experience />
    </div>
</div>
