.skills-table {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    mat-form-field {
        width: 100%;
    }

    table {
        table-layout: fixed;
        width: 100%;

        td,
        th {
            padding: 2px;
            width: 45px;
            cursor: pointer;

            &:not(:first-child) {
                text-align: center;
            }
        }

        .primary-column {
            width: 100%;
        }
    }
}

.bold {
    font-size: 18px;
    font-weight: 700;
    color: var(--accent-colour);
}
