:host {
    padding: 0 20px;
    display: block;

    display: flex;
    flex-direction: column;
    gap: 5px;

    position: relative;
    z-index: 100;
}

form {
    width: 100%;
    mat-form-field {
        width: 100%;
    }
}

.no-creatures {
    text-align: center;
    color: var(--border-colour);
}
