.app-container {
    display: flex;
    flex-direction: column;
    height: 100%;

    .app-content-wrapper {
        flex: 1;
    }

    mat-spinner {
        position: fixed;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1000;

        &.hidden {
            display: none;
        }
    }
}
