:host {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    gap: 10px;

    app-abilities,
    app-saving-throws,
    app-title-icon-wrapper {
        grid-column: span 3;
    }
}
