<app-camp-outline />
<div>
    @if (!camp()?.details?.code) {
        <app-create-camp />
    } @else {
        <div class="camp">
            <span class="camp-title">
                <h1>{{ camp()?.details?.name }}</h1>
                <small>{{ camp()?.details?.code }}</small>
            </span>
            <!-- <app-camp-money [campCopper]="camp()?.copper ?? 0" /> -->
            <div class="button-container">
                <app-leave-camp />
            </div>
        </div>
    }
</div>
