@if (form) {
    <div class="dialog-container" [formGroup]="form">
        <div class="title-wrapper">
            <h3>{{ spellName | titleCase }}</h3>
        </div>
        <app-spell-search-modal (spellSelected)="onSpellSelected($event)"></app-spell-search-modal>
        <mat-checkbox formControlName="isPrepared">Prepared</mat-checkbox>
        <mat-form-field class="no-bottom-margin">
            <mat-label>Spell Name</mat-label>
            <input matInput formControlName="name" />
        </mat-form-field>
        <mat-form-field class="half-width no-bottom-margin">
            <mat-label>Spell School</mat-label>
            <mat-select formControlName="school">
                @for (option of spellSchoolOptions; track option) {
                    <mat-option [value]="option">
                        {{ option }}
                    </mat-option>
                }
            </mat-select>
        </mat-form-field>
        <mat-form-field class="no-bottom-margin">
            <mat-label>Casting Time</mat-label>
            <input matInput formControlName="castingTime" />
        </mat-form-field>
        <mat-form-field class="no-bottom-margin">
            <mat-label>Range</mat-label>
            <input matInput formControlName="range" />
        </mat-form-field>
        <mat-form-field class="no-bottom-margin">
            <mat-label>Duration</mat-label>
            <input matInput formControlName="duration" />
        </mat-form-field>
        <mat-form-field class="no-bottom-margin">
            <mat-label>Target</mat-label>
            <input matInput formControlName="damage" />
        </mat-form-field>
        <h4>Components</h4>
        <section formGroupName="components">
            <mat-checkbox formControlName="verbal">Verbal</mat-checkbox>
            <mat-checkbox formControlName="somatic">Somatic</mat-checkbox>
            <mat-checkbox formControlName="material">Material</mat-checkbox>
            <mat-checkbox formControlName="focus">Focus</mat-checkbox>
            <mat-checkbox formControlName="divineFocus">Divine Focus</mat-checkbox>
        </section>

        <mat-form-field class="no-bottom-margin">
            <mat-label>Material</mat-label>
            <textarea
                matInput
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="1"
                formControlName="material"
            ></textarea>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Page</mat-label>
            <input type="text" matInput formControlName="page" />
        </mat-form-field>

        <div class="section-break">&#x2022;</div>

        <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea
                matInput
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="1"
                formControlName="description"
            ></textarea>
        </mat-form-field>

        <div>
            <button mat-button (click)="onDeleteSpell()">Remove Spell</button>
        </div>
    </div>
}
