@if (form) {
    <div class="dialog-container" [formGroup]="form">
        <div class="title" mat-dialog-title>
            <h1>{{ data.spellLevel | titleCase }}</h1>
            <span>
                <label for="total-casts">Casts per day:</label>
                <input id="total-casts" formControlName="totalCastsPerDay" type="number" />
            </span>
        </div>
        <div mat-dialog-content class="grid-layout">
            <div class="full-width">
                <small>Prepare</small>
                <small>Spell Name</small>
            </div>
            @for (spell of spellKeys; track spell) {
                <ng-container formGroupName="spells">
                    <div class="full-width" [formGroupName]="$index">
                        <mat-checkbox formControlName="isPrepared"></mat-checkbox>
                        <mat-form-field class="no-bottom-margin">
                            <input matInput formControlName="name" placeholder="Enter spell name" />
                            <mat-icon (click)="onDeleteSpell($index)" matSuffix>delete</mat-icon>
                        </mat-form-field>
                    </div>
                </ng-container>
            }
            <button class="add-spell-button full-width" mat-button (click)="onAddSpell()">Add Spell</button>
        </div>
    </div>
}
