@use '@angular/material' as mat;

$primary-palette: mat.m2-define-palette(mat.$m2-grey-palette, A200, A100, A400);
$warn-palette: mat.m2-define-palette(mat.$m2-red-palette, A200, A100, A400);
$accent-palette: mat.m2-define-palette(mat.$m2-orange-palette, A200, A100, A400);

$custom-theme: mat.m2-define-dark-theme(
    (
        color: (
            primary: $primary-palette,
            accent: $accent-palette,
            warn: $warn-palette,
        ),
        typography: mat.m2-define-typography-config(),
        density: 0,
    )
);

@include mat.core-theme($custom-theme);
@include mat.all-component-themes($custom-theme);

* {
    box-sizing: border-box;
}

:root {
    --background-dark: #{mat.get-theme-color($custom-theme, primary, 900)};
    --border-colour: #{mat.get-theme-color($custom-theme, primary, 800)};
    --success: #38962f;
    --danger: #{mat.get-theme-color($custom-theme, warn, 500)};
    --text-colour: #{mat.get-theme-color($custom-theme, primary, 400)};

    --accent-colour: #{mat.get-theme-color($custom-theme, accent, 500)};

    // @include mat.progress-spinner-overrides(
    //     (
    //         active-indicator-color: var(--accent-colour),
    //     )
    // );
}

html,
body {
    color-scheme: dark;
    height: 100dvh;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

input {
    color: #ffffff99;
    &:focus,
    &:focus-visible {
        outline: none;
    }
}

input[type='number'] {
    -moz-appearance: textfield;
    appearance: textfield;
    text-align: center;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

mat-form-field.no-bottom-margin .mat-mdc-form-field-subscript-wrapper {
    display: none;
}

.grid-layout {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    margin-bottom: 20px;
    .full-width {
        grid-column: span 4;
    }

    .half-width {
        grid-column: span 2;
    }

    .three-quarter-width {
        grid-column: span 3;
    }
}

.section-break {
    grid-column: span 4;
    text-align: center;
    font-size: 28px;
    line-height: 16px;
    color: var(--text-colour);
}

mat-checkbox.no-padding .mdc-checkbox {
    padding: 0 2px !important;
    .mat-mdc-checkbox-touch-target,
    input {
        width: 18px !important;
        height: 18px !important;
    }
    .mdc-checkbox__background {
        top: 0px !important;
        left: 0px !important;
    }
    .mdc-checkbox__native-control {
        height: 18px !important;
        width: 18px !important;
    }
}

.bold {
    font-weight: 700;
}

.snackbar-success > div {
    background: var(--success) !important;
    color: #fff !important;
    button {
        color: #fff !important;
    }
}

.snackbar-error > div {
    background: var(--danger) !important;
    color: #fff !important;
    button {
        color: #fff !important;
    }
}

.auto-calculated-readonly {
    pointer-events: none;
    user-select: none;
}

.example-drag-cursor {
    margin-right: 16px;
    cursor: move;
}

.cdk-drag-preview {
    box-shadow:
        0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging .mat-row:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
