.spells-wrapper {
    padding: 10px;
    display: flex;
    flex-direction: column;

    gap: 20px;

    .spell-level-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h3 {
            margin: 10px 0;
        }
    }
    .spell-card-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;

        .spell-card,
        .spell-card-prepared {
            overflow: hidden;
            min-height: 160px;
            mat-card-header {
                z-index: 100;
                padding: 10px;
                mat-card-title {
                    display: grid;
                    grid-template-columns: auto 1fr;
                    gap: 5px;
                    line-height: 24px;

                    .title {
                        margin: 0;
                        font-size: 16px;
                    }
                }
            }
            mat-card-content {
                z-index: 100;

                display: grid;
                grid-template-columns: auto 1fr;
                align-items: flex-start;
                column-gap: 5px;
                row-gap: 5px;
                padding: 10px;
                mat-icon {
                    font-size: 18px;
                }
            }
        }

        .spell-card {
            color: #888;
            background: #333;
        }
        .spell-card-prepared {
            border-bottom: 1px solid var(--accent-colour);
        }
        button {
            background: var(--border-colour);
            grid-column: span 2;
        }
    }
}
