.spells-wrapper {
    padding: 10px;
    display: flex;
    flex-direction: column;

    gap: 10px;
    .spell-card {
        background: var(--border-colour);
        border-bottom: 1px solid var(--accent-colour);
        border-radius: 3px;
        padding: 10px;
        cursor: pointer;

        display: flex;
        flex-direction: column;
        gap: 5px;
        .spell-item {
            display: flex;

            mat-icon {
                font-size: 16px;
            }
        }
        .spell-level-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 30px;
        }
    }
}
