<div class="spells-wrapper">
    @for (key of spellLevelKeys; track key) {
        <div class="spell-card" (click)="openSpellDialog(key)">
            <div class="spell-level-title">
                <h3>{{ key | titleCase }}</h3>
                <app-cast-counter [spellLevelTitle]="key" />
            </div>
            <div class="grid-layout">
                @for (spell of dataSource[key].spells; track spell) {
                    @if (spell.isPrepared) {
                        <mat-icon>whatshot</mat-icon>
                    } @else {
                        <span></span>
                    }
                    <small class="bold">{{ spell.name }}</small>
                    <small>{{ spell.description }}</small>
                    <hr class="three-quarter-width" />
                }
            </div>
        </div>
    }
</div>
