:host {
    width: 100%;
}

.hitpoint-dialog {
    padding: 10px;

    h1 {
        margin-bottom: 20px;
        font-size: 20px;
    }
    .content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    .damage-output {
        grid-column: span 2;
    }

    button {
        grid-column: span 2;
        &.heal {
            background: var(--success);
        }
        &.damage {
            background: var(--danger);
        }
        &.close {
            background: var(--background-dark);
        }
    }
}
