:host {
    display: block;
    padding: 0 20px 20px 20px;
}
button {
    background-color: var(--success);
    width: 100%;
}
table {
    margin-top: 10px;
    .empty-mat-row {
        text-align: center;
        padding: 20px 0;
    }

    .pre-wrap {
        white-space: pre-wrap;
    }
}
